<html>
<body style="width: 100%;">
    <h1>Weather App</h1>
    <h2>City: {{.Location.Name}}</h2>
    <div style="display:flex; width: 100%; flex-direction: column; justify-content: space-between; align-items: center; background-color: antiquewhite;">
        <h3>Hourly forecast</h3>
        {{if .HourlyError}}
            <div>{{.HourlyError}}</div>
        {{else if .HourlyForecast }}
            <div style="display:flex; align-items: center; flex-direction: row;">
                {{range $index, $datetime := .HourlyForecast.Hourly.Time}}
                <div style="display:flex; align-items: center; flex-direction: column; padding: 5px;">
                    <h3>{{$datetime | formatTime}}</h3>
                    <p>{{index $.HourlyForecast.Hourly.Tempurature $index}}f</h3>
                </div>
                {{end}}
            </div>
        {{end}}
        <h3>7 day forecast</h3>
        {{if .DailyError}}
            <div>{{.DailyError}}</div>
        {{else if .DailyForecast }}
            <div style="display:flex; align-items: center; flex-direction: row;">
                {{range $index, $date := .DailyForecast.Daily.Date}}
                <div style="display:flex; align-items: center; flex-direction: column; padding: 20px;">
                    <h3>{{$date | formatDate}}</h3>
                    <p>High: {{index $.DailyForecast.Daily.MaxTempurature $index}}f</h3>
                    <p>Low: {{index $.DailyForecast.Daily.MinTempurature $index}}f</h3>
                </div>
                {{end}}
            </div>
        {{end}}
</body>
</html>